* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins';
  }
  
  
  body {
    background-image: linear-gradient(90deg, #0BA0E3 ,#BBC2C8);
    color: white;
  }
  input:focus{
    border: none;
    outline: none;
    box-shadow: 0 0 1px 1px rgba(0, 255, 0, 0.5);
  }
  #course-row {
    font-size: 20px;
    font-weight: bolder; 
    margin-left: -2%;
  }
  
  #credit-row {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 10%;
  }
  
  #marks-row {
    font-size: 20px;
    font-weight: bolder;
    margin-left: 8%;
  }
  
  .calculator-box {
    width: 50%;
    border-radius: 16px;
    background-color: white;
    text-align: center;
    height: auto;
    border: 2px solid #829cab;
    
    margin: 100px auto;
  /*  text-align: center; */
  }
  
 
  @media screen and (max-width: 1200px) {
   .calculator-box {
      width: 70%;
    }
    
    
  }
  @media screen and (max-width: 1025px) {
    .calculator-box {
       width: 70%;
     }
     
   }
  
  @media screen and (max-width: 950px) {
   .calculator-box {
      width: 75%;
    }

  }
  

  
 
  @media screen and (max-width: 600px) {
    
    .btn button,#calculate{
      width: 45% !important;
    }
   .calculator-box {
      width: 95%;
      padding: 50px 0px;
    }
    .calculator-box img{
        width: 50%;
    }
    #course-wrapper form {
        padding: 0;
    }
    #course-wrapper form input{
        width: 27%;
        margin: 5px;
        padding: 5px;
    }
    .btn button{
        width: 27%;
        
    }
    footer p{
        font-size: 14px;
      }
    .form-2 {
        display: inline;
        flex-wrap: wrap;
    }
    .form-2 input{
       width: 90%;
    }
    
    
  }
  @media screen and (max-width: 800px) {
    .calculator-box {
       width: 95%;
       padding: 50px 0px;
     }
     .calculator-box img{
         width: 50%;
     }
     #course-wrapper form {
         padding: 0;
     }
     #course-wrapper form input{
         width: 25%;
     }
     .btn button{
         width: 40%;
         
     }
    
   }
  
  
  h1 {
    padding: 15px;
    font-size: 40px;
    border-radius: 14px 14px 0 0;
    text-align: center;
    border: 1px solid #3D515C;
    background-color: green;
  }
  
 
  
  p{
    padding: 20px;
    font-size: 1rem;
    color: black;
    text-align: center;
  }
   
  #course-wrapper, form {
    color: black;
    padding-left: 10px;
    margin: 0 auto;
    text-align: center;
  }
  input{

    border: solid 1px grey;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
  }
  select{
    padding: 15px;
    border: none;
    border-radius: 7.5px;
    width: 20%;
  /*   height: 30px; */
  }
   button {
    width: 22%;
    height: 40px;
    padding: 5px;
    margin: 5px auto;
    margin-left: 10px;
    border: none;
    border-radius: 50px;
    
  }
  
   button:hover {
    background-color: green;
    color: white;
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
  }
  footer p{
    color: white;
    padding: 5px;
  }
  footer a{
    color: gold;;
    font-weight: bold;
  }
  .lastp {
    display: none;
    border: 1px solid #3D515C;
    background-color: green;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out;
    transform: translateY(-100%);
    
  }
  .lastp.show {
    display: block;
    opacity: 1;
    transform: translateY(0);
    
  }
  .lastp p {
    color: white;
    text-align: center;
    padding: 10px;
    font-size: 18px;
   
    
  } 
  
  .show-gpa-button{
    background-color: white !important;
    color: crimson;
    width: 100%;
  }
  .show-gpa-button:hover{
   
    color: green;
    
  }
  .form-2{
    display: none;
  }
  #calculate{
    width: 80%;
    background: green;
    color: white;
}
.feedback{
    width: 30%;
    text-align: center;
}
.feedback svg{
    fill:grey;
    width: 10px;
    vertical-align:middle;
}
.feedback a{
    font-size: 12px;;
    color: green;
    text-decoration: none;
    
}
.delete-icon{
  color:red;
  cursor: pointer;
  font-size: 12px;
}
.btn button,#calculate{
  width: 30%;
}
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 300px;
  text-align: center;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}
